.rightbar {
          flex: 4;
}
 
.rightbarWrapper {
          padding: 20px 20px 0 0;
}
.birthdayContainer {
          display: flex;
          align-items: center;
          /* justify-content: center; */
}
.birthdayImg {
          height: 40px;
          width: 40px;
          margin-right: 10px;
}
.birthdayText {
          font-weight: 400;
          font-style: 50px;
}
.rightbarAd {
          width: 100%;
          border-radius: 10px;
          margin: 30px 0;
}
.rightbarTitle {
          margin-bottom: 20px;
}
.rightbarFriendsList {
          padding: 0;
          margin: 0;
          list-style: none;
}
