.rightbar {
          flex: 4;
}
 
.rightbarWrapper {
          padding: 20px 20px 0 0;
}
.birthdayContainer {
          display: flex;
          align-items: center;
          /* justify-content: center; */
}
.birthdayImg {
          height: 40px;
          width: 40px;
          margin-right: 10px;
}
.birthdayText {
          font-weight: 400;
          font-style: 50px;
}
.rightbarAd {
          width: 100%;
          border-radius: 10px;
          margin: 30px 0;
}
.rightbarTitle {
          margin-bottom: 20px;
}
.rightbarFriendsList {
          padding: 0;
          margin: 0;
          list-style: none;
}
.rightbarTitle {
          font-style: 18px;
          font-weight: 500;
          margin-bottom: 10px;
}
.rightbarInfo {
          margin-bottom: 30px;
}
.rightbarInfoItem {
          margin-bottom: 10px;
}
.rightbarFollowingImg {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 5px;
}
.rightbarInfovalue {
          font-weight: 300;
}

.rightbarInfoKey {
          font-weight: 500;
          margin-right: 15px;
          color: #555;
}

.rightbarFollowings {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
}

.rightbarFollowing {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
}